// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps 16
    center-focused-column "never"
    always-center-single-column

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }

    focus-ring {
        width 3
        active-color "#00ffff"
    }

    tab-indicator {
        place-within-column
        gap 6
        width 6
    }
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "ibus" "start"
spawn-at-startup "swaybg" "-m" "fill" "-i" ".config/niri/wallpapers/wallhaven-5g22q5.png"
spawn-at-startup "waybar"
spawn-at-startup "wljoywake"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "sh" ".config/niri/scripts/clipstore.sh"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "sh" ".config/niri/scripts/clipstore.sh"
spawn-at-startup "swayidle" "-w" "timeout" "180" "swaylock -f -i .config/niri/wallpapers/wallhaven-5g22q5.png" "timeout" "1800" "niri msg action power-off-monitors" "resume" "niri msg action power-on-monitors"

prefer-no-csd

animations {
    // off
    // slowdown 0.5
}

window-rule {
    match app-id="Bitwarden"
    block-out-from "screen-capture"
    // open-floating true
    // opacity 0.5
}

layer-rule {
    match namespace="^notifications$"
    baba-is-float true
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

binds {
    Mod+Q                        { close-window; }
    Mod+W                        { spawn "sh" ".config/niri/scripts/toggle-waybar.sh"; }
    Mod+F                        { fullscreen-window; }
    Mod+Alt+F                    { toggle-windowed-fullscreen; }
    Mod+P                        { screenshot; }
    Mod+B allow-when-locked=true { spawn "swaylock" "-f" "-i" ".config/niri/wallpapers/wallhaven-5g22q5.png"; }

    Mod+A { spawn "kitty"; }
    Mod+R { spawn "firefox"; }
    Mod+S { spawn "fuzzel"; }
    Mod+T { toggle-column-tabbed-display; }
    Mod+G { spawn "sh" ".config/niri/scripts/emoji.sh"; }

    Mod+Z { set-column-width "-5%"; }
    Mod+X { set-column-width "+5%"; }
    Mod+C { center-column; }
    Mod+D { toggle-window-floating; }
    Mod+V { spawn "sh" ".config/niri/scripts/clipselect.sh"; }

    Mod+J         { quit; }
    Mod+U         { consume-or-expel-window-left; }
    Mod+Y         { consume-or-expel-window-right; }

    Mod+M repeat=false { toggle-overview; }
    Mod+N              { focus-column-left; }
    Mod+Alt+N          { move-column-left; }
    Mod+E              { focus-window-down; }
    Mod+Alt+E          { move-window-down; }
    Mod+I              { focus-window-up; }
    Mod+Alt+I          { move-window-up; }
    Mod+O              { focus-column-right; }
    Mod+Alt+O          { move-column-right; }

    Mod+K          { spawn "sh" ".config/niri/scripts/powermenu.sh"; }
    Mod+Comma      { focus-workspace-down; }
    Mod+Alt+Comma  { move-column-to-workspace-down; }
    Mod+Period     { focus-workspace-up; }
    Mod+Alt+Period { move-column-to-workspace-up; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}

output "LG Electronics LG ULTRAWIDE 307AZGF3R783" {
    mode "3440x1440@159.962"
    scale 1
}

output "Apple Computer Inc Color LCD Unknown" {
    mode "2880x1800@59.990"
    scale 1.2
}
